<!DOCTYPE html>
<html>
    <head>
        <title>Oh CRUD</title>
    </head>
    <body>
        <h1>Delete Successful</h2>
        <h3><%= @post_name %> was deleted successfully.</h3>
    </body>
</html>