<!DOCTYPE html>
<html>
    <head>
        <title>Oh CRUD</title>
    </head>
    <body>
        <h1><%= @post.name %></h1>
        <h3><%= @post.content %></h3>      

        <form action="/posts/<%= @post.id %>/delete" method="POST">
            <input id="hidden" type="hidden" name="_method" value="delete">
            <input id="submit" type="submit" value="delete">
        </form> 
    </body>
</html>